# Python
__pycache__/
*.pyc
venv/

# Backend secrets
backend/.env
backend/firebase-key.json
backend/service-account.json

# Terraform
terraform/.terraform/
terraform.tfstate
terraform.tfstate.backup

# Flutter
frontend/app/build/
frontend/app/.dart_tool/

# Firebase
frontend/.firebase/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db
