fastapi
uvicorn[standard]
websockets
google-cloud-aiplatform
google-cloud-firestore
google-cloud-storage
google-genai
firebase-admin
python-dotenv
google-generativeai
python-multipart
pillow
opencv-python-headless
pydantic